.unicorn-container {
  display: none;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 800px;
  font-size: x-large;
  font-family: sans-serif;
}

.title {
  text-transform: capitalize;
}

.name-list {
  list-style: none;
  padding-left: 0;
}
